/* Tablet Landscape */

@media screen and (max-width: 1060px) {
    #typewriter {
        width: 57%;
    }
    #tooltips {
        width: 57%;
    }
}


/* Tablet Portrait */

@media screen and (max-width: 768px) {
    #typewriter {
        width: 100%;
    }
    #tooltips {
        width: 57%;
    }
}
/*
       @media (min-height: 500px) {
         .robot-functions1,
          .robot-functions2 {
            -webkit-columns: 2 350px;
              -moz-columns: 2 350px;
                   columns: 2 350px;
  }
}
*/

body {
    background: #000;
    padding-top: 5px;
    padding-right: 500px;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 101%;
}

h1 {
    font-size: 50px;
    padding-top: 10px;
    padding-left: 400px;
}

.output {
    display: none;
}

img {
    /*max-width: 100%;*/
    width: 100%;
    height: 100%;
    /*height: auto;*/
    width: auto\9;
    /* ie8 */
}

html {
    font-size: 100%;
    overflow-y: scroll;
    /*height: 101%;*/
}


/*::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
*/


/*.container-fluid { max-width: 1000px; }*/

p {
    color: #55ff55;
    /*lime;*/
    font-family: monospace;
    /*"Courier";*/
    font-size: 1.8vw;
    margin: 2px 0 0 2px;
    padding-top: 10px;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    width: 50em;
    animation: type 4s steps(30, end), blink-caret .75s step-end infinite;
}

p:nth-child(2) {
    animation: type2 4s steps(30, end);
    font-size: 1.8vw;
}

p:nth-child(3) {
    animation: type2 8s steps(30, end);
    font-size: 1.8vw;
}

p:nth-child(4) {
    animation: type2 14s steps(30, end);
    font-size: 1.8vw;
}

p:nth-child(5) {
    animation: type2 18s steps(80, end);
    font-size: 1.8vw;
}

p a {
    color: #55ff55;
    text-decoration: none;
}

span {
    animation: blink 1s infinite;
}

@keyframes type {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: lime;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    50% {
        width: 0;
    }
    100% {
        width: 100;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

::selection {
    background: black;
}

.col-sm-2 {
    height: auto;
    position: relative;
    margin: 1.563em auto;
    padding-right: 10px;
    padding-left: 10px;
    width: auto;
    height: auto;
}

.robot-functions1 {
    padding-top: 100px;
    padding-left: 100px;
    overflow: hidden;

}

.robot-functions2 {
    padding-top: 30px;
    padding-left: 100px;
    overflow: hidden;

}

a.tooltips {
    position: relative;
    display: inline;
}

a.tooltips span {
    position: absolute;
    width: 300px;
    /*width:140px;*/
    color: #55ff55;
    background: #000000;
    font-family: monospace;
    font-size: 1vw;
    /*white-space: nowrap;*/
    height: auto;
    /*100px;*/
    line-height: auto;
    /*40px;*/
    text-align: left;
    visibility: hidden;
    border-radius: 6px;
    box-shadow: 2px 2px 6px #55ff55;
    /*#CCC;*/
    /*Pause animation of span to get rid of flickering tool tips*/
    -webkit-animation-play-state: paused;
    /* Safari 4.0 - 8.0 */
    animation-play-state: paused;
}

a.tooltips span:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    width: 0;
    height: 0;
    border-right: 8px solid #000000;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

a:hover.tooltips span {
    visibility: visible;
    opacity: 0.8;
    left: 100%;
    top: 50%;
    margin-top: -15px;
    margin-left: 15px;
    z-index: 999;
}

#clockbox {
    color: #55ff55;
    background: #000000;
    font-family: monospace;
    font-size: 1vw;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #000000;
    text-align: center;
}
